<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
            <h3><%= errors[x].messages %></h3>
        <% } %>
    <% } %>       
    <h1>Welcome to QuotingDojo</h1>
    <form action='/quotes' method='post'>
        Your name: <input type='text' name='name'><br>
        Your quote: <input type='textarea' name='quote'><br>
        <input type='submit' value="Add my quote!">
    </form>
    <form action='/quotes' method='get'>
        <input type='submit' value='Skip to quotes'>
    </form>
</body>
</html>