<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo - Quotes</title>
</head>
<body>
    <h1>Here are the awesome quotes!</h1>
    <% for (x in quotes) { %>
        <h3><%= quotes[x].quote %></h3>
        <h3><%= quotes[x].name %></h3>
        <h3><%= quotes[x].createdAt %></h3>
        <br>
    <% } %>
</body>
</html>